In [1]:
import sqlite3
import pandas as pd
# from glob import glob; from os.path import expanduser
# conn = sqlite3.connect('homeye.db')
# cursor = conn.cursor()
# clients = pd.read_sql('SELECT * FROM Student' ,conn)
# clients.to_csv('csvdata.csv', index=False)

In [2]:
clients = pd.read_sql('SELECT * FROM homes',conn)

In [3]:
clients.to_csv('homedata.csv',index = False)

#### convert csv to json

In [3]:
df = pd.read_csv('db_data.csv')

In [4]:
df.columns

Index(['home_id', 'address', 'city', 'state_or_province', 'zip_or_postal_code',
       'price', 'beds', 'baths', 'square_footage', 'lot_size', 'year_built',
       'monthly_hoa', 'latitude', 'longitude', 'redfin_url', 'property_type',
       'location', 'dollars_per_square_feet', 'next_open_house_start_time',
       'next_open_house_end_time', 'days_on_market', 'status', 'sale_type',
       'sold_date', 'date_last_updated', 'date_created'],
      dtype='object')

In [5]:
df = df[['latitude','longitude']]

In [6]:
df['file_name'] = df['latitude'].astype(str) +','+df['longitude'].astype(str)

In [7]:
df

        latitude   longitude                file_name
0      32.963942 -117.032399  32.9639423,-117.0323995
1      33.169871 -117.229833  33.1698711,-117.2298333
2      32.766721 -117.159725  32.7667211,-117.1597247
3      32.766721 -117.159725  32.7667211,-117.1597247
4      32.850171 -116.930381  32.8501714,-116.9303808
...          ...         ...                      ...
14963  32.761063 -117.050490  32.7610625,-117.0504899
14964  32.731667 -117.007738  32.7316667,-117.0077376
14965  32.821911 -116.831098   32.821911,-116.8310977
14966  32.790849 -117.168345  32.7908491,-117.1683454
14967  33.148181 -117.102996    33.148181,-117.102996

[14968 rows x 3 columns]

In [8]:
df.to_csv('homedata_lat_long.csv',index = False)